.product_container{
    border: 1px solid black;
    width: 900px;
    min-height: 300px;
    margin-top: 30px;
    padding: 20px;
}
h1, button{
    display: inline-block;
    vertical-align: middle;
}
.newbutton{
    margin-left: 400px;
}
.product_table{
    margin-top: 50px;
}
.detail{
    margin-left: 5px;
}