<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="new_container">
    <h1>New Product</h1>
    <div *ngFor="let error of errors">
    <p style="color: red"> {{ error }} </p>
    </div>
    
    <form (submit)="addproduct()">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Name</label>
            <div class="col-sm-6">
                <input 
                type="text" 
                class="form-control" 
                name="name" 
                required
                minlength="3"
                [(ngModel)]="NewProduct.name"
                #name="ngModel"
                >
            </div>
        </div>
        <p *ngIf="name.errors">{{ name.errors | json }}</p>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Qty</label>
            <div class="col-sm-6">
                <input 
                type="number" 
                class="form-control" 
                name="qty"
                required
                min=0
                [(ngModel)]="NewProduct.qty"
                #qty="ngModel"
                >
            </div>
        </div>
        <p *ngIf="qty.errors">{{ qty.errors | json }}</p>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Price</label>
            <div class="col-sm-6">
                <input 
                type="number" 
                class="form-control" 
                name="price"
                required
                min=0
                [(ngModel)]="NewProduct.price"
                #price="ngModel"
                >
            </div>
        </div>
        <p *ngIf="price.errors">{{ price.errors | json }}</p>
        <button type="reset" class="reset btn btn-danger">Reset</button><button class="create btn btn-info">CREATE</button>
    </form>
</div>