.new_container{
    border: 1px solid black;
    width: 900px;
    min-height: 300px;
    margin-top: 30px;
    padding: 20px;
}
.reset{
    margin-left: 170px;
}
.create{
    margin-left: 10px;
}
p{
    color:red;
}